@use "@/styles/fonts.scss" as *;
@use "@/styles/colors.scss" as *;

.statsPage,
.errorBlock {
  padding-top: 60px;
}

.statsPage {
  .statsPageBlock {
    padding: 24px;
    color: $dark;
    background-color: $white;
    border-radius: 24px;

    h1 {
      font-size: $fs-24;
    }
  }
}
